:root {
  font: 16px / 1 sans-serif;
}

/* colors to use
#1E1E24
#92140C
#FFF8F0
#FFCF99
#111D4A */

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff8f0;
  text-align: center;
}

input {
  margin: 0.5rem;
}

header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: #92140c;
}

img {
  margin-top: 0.5rem;
  height: 120px;
  margin-left: -3rem;
}

.appNav {
  display: flex;
  align-self: center;
}

h1 {
  font-size: 2.5rem;
  margin-left: -2rem;
}

.appLi {
  list-style: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.appUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homePageUl {
  display: flex;
  flex-direction: column;
}

.homePageLi {
  text-align: left;
}

.teacherPageButton,
.teacherAdminPageButton {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  justify-content: center;
  cursor: pointer;
}

hr {
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  box-shadow: 1px 1px 10px;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

section {
  color: white;
  padding: 1rem;
  margin: 1rem;
  background-color: #111d4a;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;

  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: white;
  background: #111d4a;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 10px 0px white;

  cursor: pointer;

  /* border: 1px solid white; */
  border-radius: 5px;
  transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: gray;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.collapsible-content .content-inner {
  background: #92140c;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.5rem 1rem;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

.toggle {
  border: 1px solid white;
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #111d4a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  display: flex;
  border: 1px solid white;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  background-color: #111d4a;
  color: white;
  outline: none;
  width: 250px;
  justify-content: center;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 10px 0px white;
  cursor: pointer;
}

.studentPageUl {
  display: flex;
  flex-direction: column;
  list-style: none;
}

input {
  text-align: center;
}

@media (max-width: 768px) {
  .appNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  section {
    color: white;
    padding: 1rem;
    margin: 1rem;
    background-color: #111d4a;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .appLi {
    list-style: none;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .appUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
